<% content_for :head_js do %>
  <%= javascript_include_tag 'http://maps.google.com/maps/api/js?libraries=places&sensor=false' %>
<% end %>
<main class="main">
<div class="col-md-6">
  <div id="map_canvas"></div>
  <%= text_field_tag 'address', nil, placeholder: 'Direccion...', class: 'form-control' %>
</div>
<div class="col-md-6">
  <div id="container-fields-search">
    <%= form_tag '', method: 'post', :id => 'form-filter-circuits' do  %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= select_tag 'nationals',
                options_for_select([
                                    ['Nacionales', ''],
                                    ['Si', '1'],
                                    ['No', '0'],
                                    ]
                                  ),
             multiple: false, class: 'form-control', id: 'nationals'
            %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= select_tag 'internationals',
                options_for_select([
                                ['Internacionales', ''],
                                ['Si', '1'],
                                ['No', '0'],
                                ]
                              ),
            multiple: false, class: 'form-control', id: 'internationals'
            %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row row-fixed">
      <div class="col-md-12 container-items" id="container-events">
        <% @events.each do |events| %>
        	<div class="item-content col-md-6">
        	  <%= image_tag 'http://lorempixel.com/200/200/sports/', size: '200', alt: 'Edit Entry' %>
        	  <h2><%= event.title %></h2>
        	  <p><%= event.description %></p>
        	  <p><strong>Fecha: </strong> <%= event.date %></p>
          	<div class="clearfix"></div>
          	<div class="post-meta"></div>
        	</div>
      <% end %>
      </div>
    </div>
  </div>
</div>
</main>
<% content_for :page_js do %>
  <%= javascript_include_tag 'maps' %>
  <%= javascript_include_tag 'events_functions' %>
  <%= javascript_include_tag 'site/events' %>
<% end %>
