<% content_for :head_js do %>
  <%= javascript_include_tag 'http://maps.google.com/maps/api/js?libraries=places&sensor=false' %>
<% end %>
<% content_for :header do %>
  <div id="heading-warapper">
      <div class="center">
          <div class="animated">
              <h1>Bienvenido</h1>
          </div>
          <div class="animated">
              <button id="heading-search-button" class="btn btn-lg btn-default" type="button" name="button" >
                  BUSCAR
                  <i class="fa fa-search" aria-hidden="true"></i>
              </button>
          </div>
      </div>
  </div>
<% end %>
<main class="main">
  <div class="col-md-5">
    <div id="map_canvas"></div>
    <%= text_field_tag 'address', nil, placeholder: 'Direccion...', class: 'form-control' %>
  </div>
  <div class="col-md-7">
    <div id="container-fields-search">
      <%= form_tag '', method: 'post', :id => 'form-filter-circuits' do  %>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= select_tag 'dressing_rooms',
                  options_for_select([
                                      ['Vestuario', ''],
                                      ['Si', '1'],
                                      ['No', '0'],
                                      ]
                                    ),
               multiple: false, class: 'form-control', id: 'dressing_rooms', onchange: 'filterCircuits()'
              %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= select_tag 'training_classes',
                  options_for_select([
                                  ['Clases de Entrenamiento', ''],
                                  ['Si', '1'],
                                  ['No', '0'],
                                  ]
                                ),
                  multiple: false, class: 'form-control', id: 'training_classes', onchange: 'filterCircuits()'
              %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-12 container-items row-fixed" id="container-circuits">
          <% @circuits.each do |circuit| %>
            <div class="item-content col-md-6">
                <h2><%= circuit.name %></h2>
                <div class="map-meta">
                  <p><strong>Vestuario: </strong> <%= (circuit.dressing_rooms == 1) ? 'Si' : 'No' %></p>
                  <p><strong>Precio:</strong> <%= circuit.price %> €</p>
                  <p><strong>Horario:</strong>  L -V 09:00 - 14:00, 17:00 - 21:00; Sábado 09:00 - 15:00 </p>
                  <p><strong>Clases de Entrenamiento:</strong> <%= (circuit.training_classes == 1) ? 'Si' : 'No' %></p>
                </div>
                <fieldset class="rating">
                  <%= radio_button_tag 'rating', '5', false, id: 'star5' %>
                  <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                  <%= radio_button_tag 'rating', '4 and a half', false, id: 'star4half' %>
                  <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                  <%= radio_button_tag 'rating', '4', false, id: 'star4' %>
                  <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                  <%= radio_button_tag 'rating', '3 and a half', false, id: 'star3half' %>
                  <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                  <%= radio_button_tag 'rating', '3', false, id: 'star3' %>
                  <label class = "full" for="star3" title="Meh - 3 stars"></label>
                  <%= radio_button_tag 'rating', '2 and a half', false, id: 'star2half' %>
                  <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <%= radio_button_tag 'rating', '2', false, id: 'star2' %>
                  <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                  <%= radio_button_tag 'rating', '1 and a half', false, id: 'star1half' %>
                  <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                  <%= radio_button_tag 'rating', '1', false, id: 'star1' %>
                  <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                  <%= radio_button_tag 'rating', 'half', false, id: 'starhalf' %>
                  <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
<% content_for :page_js do %>
  <%= javascript_include_tag 'maps' %>
  <%= javascript_include_tag 'circuits' %>
  <%= javascript_include_tag 'site/index' %>
<% end %>
